<div class="navbar-content-wrap">
  <i class="logo">
  </i>
  <div class="icons-container">
    <div class="nav-icon-wrap">
      <i class="navbar-icon"></i>
    </div>
    <div class="nav-icon-wrap">
      <i class="navbar-icon"></i>
    </div>
    <div class="nav-icon-wrap">
      <i class="navbar-icon"></i>
    </div>
  </div>
  <div class="profile-menu-container">
    <i class="user-icon"></i>
    <div class="username-and-last-seen">
      <span class="username">{{username}}</span>
      <p class="last-seen">Last connection 2 hour(s) ago</p>
      <i class="drop-down-arrow"></i>
    </div>
  </div>
</div>
