div.navbar-content-wrap {
  display: flex;
  align-items: center;

  i.logo {
    display: block;
    background: url("../../assets/images/leumi-logo.png") no-repeat center;
    width: 136px;
    height: 40px;
    margin-left: 20px;
    margin-right: auto;
  }

  div.icons-container {

    display: flex;
    border-left: 1px solid #F6F6F6;
    border-right: 1px solid #F6F6F6;
    margin-right: 17px;

    div.nav-icon-wrap {

      display: flex;
      align-items: center;
      height: 60px;
      width: 60px;
      text-align: center;
      cursor: pointer;
      background: #fff;

      &:hover {
        background: #cecece66;
      }

      i.navbar-icon {
        display: block;
        text-align: center;
        background: no-repeat center;
        margin: 0 auto;
        width: 25px;
        height: 25px;
      }

      &:nth-child(1) i.navbar-icon {
        background-image: url("../../assets/images/navbar/chat.svg");
      }

      &:nth-child(2) i.navbar-icon {
        background-image: url("../../assets/images/navbar/bell.svg");
      }

      &:nth-child(3) i.navbar-icon {
        background-image: url("../../assets/images/navbar/refresh.svg");
      }
    }
  }

  div.profile-menu-container {

    display: flex;
    align-items: center;
    cursor: pointer;

    i.user-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: url("../../assets/images/navbar/user-icon.png") no-repeat center;
    }

    div.username-and-last-seen {
      position: relative;
      line-height: 19px;
      margin-left: 17px;
      padding-right: 55px;

      span.username {
        font-weight: bold;
        font-size: 13px;
      }

      p.last-seen {
        font-size: 12px;
        font-weight: 300;
        color: #AEAEAE;
      }

      i.drop-down-arrow {
        position: absolute;
        top: calc(50% - 4px);
        right: 22px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #4A4A4A;
      }
    }
  }
}
