div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 14px;
}

div.success-message {

  position: relative;
  margin-left: 36px;
  width: 90px;
  text-align: center;

  i.success-icon {

    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: -17px;
    top: calc(50% - 8px);

    &.success {
      background: url('../../assets/images/check-circle-regular.svg') center center;
    }

    &.error {
      background: url('../../assets/images/cancel-icon.svg') center center;
    }
  }

  p.message {
    max-width: 75px;
  }
}

div.transaction-date-wrap {

  width: 95px;
  text-align: left;

  span.transaction-date {
    text-transform: uppercase;
  }
}

div.name-and-iban {

  width: 195px;
  text-transform: uppercase;

  .iban {
    display: block;
  }
}

div.transaction-message {
  width: 230px;
}

div.amount-and-account {

  text-transform: uppercase;
  width: 115px;

  span.amount {
    display: block;
    position: relative;
    text-align: right;
    margin-right: 29px;
    font-size: 19px;
    font-weight: bold;

    &:before {
      content: 'RON';
      position: absolute;
      font-weight: normal;
      font-size: 9px;
      top: 4px;
      right: -22px;
    }
  }

  span.account {
    display: block;
    font-size: 9px;
    text-align: right;
    margin-right: 7px;
  }
}



