<div class="container">
  <div class="success-message">
    <i [class.success]="transactionData.statusType === statusTypeRef.success"
       [class.error]="transactionData.statusType === statusTypeRef.error"
       class="success-icon"></i>
    <p class="message">{{transactionData.statusType}}</p>
  </div>

  <div class="transaction-date-wrap">
    <span class="transaction-date">{{formatDate()}}</span>
  </div>

  <div class="name-and-iban">
    <span class="name">{{transactionData.cardHolderName}}</span>
    <span class="iban">{{transactionData.iban}}</span>
  </div>

  <div class="transaction-message">
    <p class="message" ngxEllipsis [lines]="2">{{transactionData.transactionMessage}}</p>
  </div>

  <div class="amount-and-account">
    <span class="amount">{{transactionData.amount}}</span>
    <span class="account">cont {{transactionData.accountType}}</span>
  </div>
</div>
