<form [formGroup]="searchForm"
      (ngSubmit)="onSubmit(searchForm.value)">
  <div class="some-row1">
    <div class="search-by-wrap">
      <input class="search-by form-element"
             [formControl]="searchForm.controls['message']"
             placeholder="Cautare după mesaj"
             name="transactionMessage"
             type="text">
      <i class="magnifier-icon"></i>
    </div>
    <div class="date-picker form-element">
      <dp-date-picker placeholder="Data de la"
                      [formControl]="searchForm.controls['fromDate']"
                      (onChange)="dateFromBinding($event)"></dp-date-picker>
      <dp-date-picker placeholder="Data până la"
                      [formControl]="searchForm.controls['toDate']"
                      (onChange)="dateToBinding($event)"></dp-date-picker>
      <div class="line"> - </div>
      <i class="calendar-icon"></i>
    </div>
  </div>
  <div class="some-row2">
    <div class="payment-type-select">
      <ng-select [items]="accountTypeItems"
                 class="custom"
                 [formControl]="searchForm.controls['accountType']"
                 placeholder="Orice tip de plată">
      </ng-select>
    </div>
    <div class="status-type-select">
      <ng-select [items]="statusTypeItems"
                 class="custom"
                 [formControl]="searchForm.controls['statusType']"
                 placeholder="Orice statut">
      </ng-select>
    </div>
    <button class="submit-btn">Afiseaza</button>
  </div>
</form>
