.clear-inputs() {
  outline: none;
  background: transparent;
  padding: 0 10px;
}

.form-elements-default() {
  border: 1px solid #000;
  height: 30px;
  border-radius: 3px;
}

.form-input-icons() {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
}

.clear-floats() {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.ng-select-styles() {
  ::ng-deep {
    ng-select.custom {
      .ng-select-container {
        min-height: unset;
        height: 30px;
        background: transparent;
        border: 1px solid #000;
      }

      .ng-placeholder {
        color: #000;
      }

      .ng-option {
        background-color: #dfe2e9;
      }

      .ng-dropdown-panel {
        border: 1px solid #000;
        &.ng-select-bottom {
          border-top-color: #000;
        }
      }

      .ng-arrow-wrapper .ng-arrow {
        border-color: #22A3F5 transparent transparent;
      }

      &.ng-select-opened .ng-arrow {
        border-color: transparent transparent #22A3F5;
      }
    }
  }
}

.some-row1, .some-row2 {
  .clear-floats();
}

.some-row1 {
  margin: 30px auto;
}

div.search-by-wrap {

  position: relative;
  display: inline-block;
  width: 66%;
  margin-right: 30px;
  height: auto;
  float: left;
  .clear-floats();

  input.search-by {
    .form-elements-default();
    .clear-inputs();

    width: 100%;

    &::placeholder {
      color: #000;
      font-size: 16px;
    }
  }

  i.magnifier-icon {
    .form-input-icons();
    background: url("../../assets/images/magnifier-icon.svg") no-repeat;
    top: 7px;
    right: 8px;
  }
}

.form-element {
  .form-elements-default();
}

.date-picker {
  width: 30%;
  float: left;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  ::ng-deep {

    dp-date-picker {

      width: 100%;
      height: 100%;

      .dp-input-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dp-picker-input {
        .clear-inputs();
        border: none;
        width: 100%;
        height: 29px;
        text-align: center;
        cursor: pointer;

        &::placeholder {
          color: #000;
        }
      }
    }
  }

  div.line {
    position: absolute;
    top: 6px;
    left: 50%;
  }

  i.calendar-icon {
    .form-input-icons();
    top: 6px;
    left: 6px;
    background: url("../../assets/images/calendar-icon.svg") no-repeat center;
  }
}

.payment-type-select {
  width: 32%;
  margin-right: 30px;
  float: left;

  .ng-select-styles();
}

.status-type-select {
  width: 31%;
  float: left;
  .ng-select-styles();
}

button.submit-btn {
  background: #24C57E;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  width: 30%;
  margin-left: 30px;
  border: none;
  outline: none;
  padding: 0;
}
