<div class="links-wrap">
  <a  routerLinkActive="active"
      [routerLink]="['/archive']">Arhiva {{displayMessagesNumber(messagesNumberObject.archive)}}</a>
  <a  routerLinkActive="active"
      [routerLink]="['/auth']">Autorizare {{displayMessagesNumber(messagesNumberObject.authorization)}}</a>
  <a  routerLinkActive="active"
      [routerLink]="['/pending']">Pending {{displayMessagesNumber(messagesNumberObject.pending)}}</a>
  <a  routerLinkActive="active"
      [routerLink]="['/errors']">Erori {{displayMessagesNumber(messagesNumberObject.errors)}}</a>
</div>
