div.links-wrap {

  display: inline-block;

  a {
    text-decoration: none;
    display: inline-block;
    color: #22A3F5;
    margin: 25px 30px 0 30px;
    font-size: 16px;

    &.active {
      font-size: 32px;
      font-weight: bold;
      color: #000;
      margin-top: 0;

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}
