<nav class="navbar">
  <app-navbar></app-navbar>
</nav>
<div class="container">
  <div class="left-side-menu">
    <button class="side-button">
      <i class="button-icon"></i>
      <span class="button-text">Home</span>
    </button>
    <button class="side-button">
      <i class="button-icon"></i>
      <span class="button-text">Transfers</span>
    </button>
    <button class="side-button">
      <i class="button-icon"></i>
      <span class="button-text">Accounts</span>
    </button>
    <button class="side-button">
      <i class="button-icon"></i>
      <span class="button-text">Payments</span>
    </button>
    <button class="side-button">
      <i class="button-icon"></i>
      <span class="button-text">Deposite</span>
    </button>
    <button class="side-button">
      <i class="button-icon"></i>
      <span class="button-text">Analytics</span>
    </button>
  </div>
  <div class="center-content">
    <div class="tabs-navbar">
      <app-tab-navbar></app-tab-navbar>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

