
nav.navbar {
  height: 60px;
  background: #fff;
  box-shadow: 0 0 12px 0 #00000057;
}

div.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

div.left-side-menu {
  width: 100px;
  height: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px 0 #00000057;

  .side-button {
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    height: calc(100% / 6);
    text-align: center;

    &:hover {
      background: #ececec;
    }

    i.button-icon {
      display: inline-block;
      height: 40px;
      width: 40px;
      background: no-repeat center;
    }

    span.button-text {
      display: block;
    }

    &:nth-child(1) i.button-icon {
      background-image: url("../assets/images/left-sidebar-buttons/museum.svg");
    }

    &:nth-child(2) i.button-icon {
      background-image: url("../assets/images/left-sidebar-buttons/transfer.svg");
    }

    &:nth-child(3) i.button-icon {
      background-image: url("../assets/images/left-sidebar-buttons/wallet.svg");
    }

    &:nth-child(4) i.button-icon {
      background-image: url("../assets/images/left-sidebar-buttons/payment.svg");
    }

    &:nth-child(5) i.button-icon {
      background-image: url("../assets/images/left-sidebar-buttons/safe-box.svg");
    }

    &:nth-child(6) i.button-icon {
      background-image: url("../assets/images/left-sidebar-buttons/analytics.svg");
    }
  }

}

div.center-content {
  width: 1000px;
  height: 450px;
  margin-left: 50px;

  div.tabs-navbar {
    height: 55px;
  }
}
