<div class="search-form">
  <app-form-component (submitProcessed)="updateSearchedItems($event)"></app-form-component>
</div>
<div class="transaction-list">
  <app-transaction-list [transactionDataArray]="data">

  </app-transaction-list>
</div>
