body {
  background-size: cover;
  background: url('assets/images/main-background.jpg') no-repeat center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}
